/* method 1 - line numbers */
.items-wrap {
	display: grid;
	grid-template-rows: [header-start] 100px [header-end box-start] 200px [box-end main-start] 300px [main-end footer-start] 100px [footer-end];

	grid-template-columns: repeat(3, [col-start] 1fr [col-end]) 200px [grid-end];
	margin: 30px auto;
	grid-gap: 30px;
	height: 700px;
	width: 900px;
}

.item {
	background-color: orangered;
	text-transform: capitalize;
	font-family: sans-serif;
	text-align: center;
	font-size: 2rem;
	padding: 20px;
	color: #fff;
}

/* style for header box */
.item--1 {
	grid-column: col-start 1 / grid-end;
}

/* styles for sidebar */
.item--5 {
	grid-column: col-end 3 / grid-end;
	/* start at line 2 and span 3 cells */
	grid-row: box-start / main-end;
}

/* styles for main content */
.item--6 {
	grid-column: col-start 1 / col-end 3;
}

/* style for footer */
.item--7 {
	grid-column: col-start 1 / grid-end;
}
