@keyframes rainbowText {
  0% {
    color: red;
    font-size: 20px;
  }
  25% {
    color: orange;
  }
  50% {
    color: yellow;
    font-size: 40px;
  }
  75% {
    color: green;
  }
  100% {
    color: blue;
    font-size: 20px;
  }
}

.animated-text {
  animation: rainbowText 3s infinite;
  /* animation-name: rainbowText;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-delay: 0s; */

  /* Animation directions
  changes animation execution direction

  animation-direction: forwards;
  animation-direction: reverse;
  animation-direction: alternate;
  */

  /* Animation fill modes
  changes the style of the element before and after the animation

  animation-fill-mode: forwards;
  animation-fill-mode: backwards;
  animation-fill-mode: both;
  animation-fill-mode: none;
  */
}

/* Pause animation on hover */
.animated-text:hover {
  animation-play-state: paused;
}

/* Resume animation on click */
.animated-text:active {
  animation-play-state: running;
}
