@mixin clearfix {
	&::after {
		content: '';
		clear: both;
		display: table;
	}
}

@mixin absCenter {
	transform: translate(-50%, -50%);
	position: absolute;
	top: 50%;
	left: 50%;
}

@mixin background-image-gradient($src) {
	background-image: linear-gradient(
			to right bottom,
			rgba($color-primary-light, 0.8),
			rgba($color-primary-dark, 0.8)
		),
		url('#{$src}');
	background-size: cover;
}
