@keyframes skyAnimation {
  0% {
    background-color: #2c3e50;
  }
  10% {
    background-color: pink;
  }
  30% {
    background-color: #3498db;
  }
  50% {
    background-color: lightblue;
  }
  70% {
    background-color: #3498db;
  }
  90% {
    background-color: pink;
  }
  100% {
    background-color: #2c3e50;
  }
}

@keyframes sunAnimation {
  0% {
    background-color: #d35400;
    transform: translateY(200px) translateX(-50px);
  }
  25% {
    background-color: #f1c40f;
  }
  50% {
    transform: translateY(-50px) translateX(calc(50vw - 100px));
  }
  75% {
    background-color: #f1c40f;
  }
  100% {
    background-color: #d35400;
    transform: translateY(200px) translateX(calc(100vw - 150px));
  }
}

body {
  margin: 0 0 0 0;
  background-color: #2c3e50;
  transition: background-color 1s ease-in-out;
  animation-name: skyAnimation;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
  animation-delay: 0;
}

.grass {
  background: #2ecc71;
  height: calc(100vh - 200px);
  width: 100%;
  position: absolute;
}

.sun {
  background: #f1c40f;
  width: 200px;
  height: 200px;
  border-radius: 50%;

  animation-name: sunAnimation;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
  animation-delay: 0;
}
