.inputGroup {
  display: flex;
  flex-direction: column;
}

.inputGroup__label {
  margin-bottom: 10px;
  font-weight: 500;
}

.inputGroup--first {
  margin-bottom: 10px;
}

.inputGroup__input {
  border: 1px solid darkgray;
  border-radius: 3px;
  padding: 5px 10px;
}

.btn {
  margin-top: 20px;
}

/* Chrome, Safari, Edge, Opera */
.inputGroup__input::-webkit-outer-spin-button,
.inputGroup__input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
.inputGroup__input[type=number] {
  -moz-appearance: textfield;
}