*,
*::after,
*::before {
	/* prevents border and paddings from
  being not added the total width */
	box-sizing: inherit;
	padding: 0;
	margin: 0;
}

html {
	/* setting a percentage allows us to change the default REM size to 10px while maintaining the
  browser/user font-size customizability. */
	font-size: 62.5%;
	/* default is 16px, so 16/100=0.625 */
}

body {
	box-sizing: border-box;
	color: $color-gray-dark;
}
