*,
*::after,
*::before {
	/* prevents border and paddings from
  being not added the total width */
	box-sizing: inherit;
	padding: 0;
	margin: 0;
}

html {
	/* setting a percentage allows us to change the default REM size to 10px while maintaining the
  browser/user font-size customizability. */

	/* default is 16px, so 16/100=0.625 */
	font-size: 62.5%;

	// is width < 1200px?
	@include respond(tab-land) {
		// 1 rem = 9px, 9/16 = 50%
		font-size: 56.25%;
	}

	// is width < 900px?
	@include respond(tab-port) {
		// 1 rem = 8 px, 8/16 = 50%
		font-size: 50%;
	}

	// is width > 1800px?
	@include respond(big-desk) {
		// 1rem = 12px, 12/16
		font-size: 75%;
	}
}

body {
	box-sizing: border-box;
	color: $color-gray-dark;
	padding: 3rem;

	@include respond(tab-port) {
		padding: 0;
	}
}
