@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

:root {
  --color-white: #fff;
  --color-darker-white: #f9fafb;
  --color-black: #000;
  --color-trans-black:#0000004d;
  --color-dark-grey: #777;
  --color-light-grey: #f0f0f0;
  --color-blue: #3498db;
  --color-green: #2ecc71;
  --color-red: #e74c3c;
}


/* basic style resets */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Open Sans', sans-serif;
  background-color: var(--color-darker-white);

  /* centering the content in the middle */
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.container {
  box-shadow: 0 2px 10px var(--color-trans-black);
  background-color: var(--color-white);
  border-radius: 5px;
  width: 400px;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
}

.form {
  padding: 30px 40px;
}

.form-control {
  margin-bottom: 10px;
  padding-bottom: 20px;
  position: relative;
}

.form-control label {
  color: var(--color-dark-grey);
  margin-bottom: 5px;
  display: block;
}

.form-control input {
  transition: border 150ms ease;
  border: 2px solid var(--color-light-grey);
  border-radius: 4px;
  display: block;
  width: 100%;
  padding: 10px;
  font-size: 14px;
}

.form-control input:focus {
  border-color: var(--color-dark-grey);
  outline: 0;
}

.form-control.success input {
  border-color: var(--color-green);
}

.form-control.error input {
  border-color: var(--color-red);
}

.form-control small {
  /* visibility just makes it invisible */
  visibility: hidden;
  color: var(--color-red);
  position: absolute;
  bottom: 0;
  left: 0;
}

.form-control.error small {
  visibility: visible;
}

.form button {
  cursor: pointer;
  background-color: var(--color-blue);
  border: 2px solid var(--color-blue);
  color: var(--color-white);
  border-radius: 4px;
  display: block;
  margin-top: 20px;
  font-size: 16px;
  padding: 10px;
  width: 100%;
}