@keyframes iconSpin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes iconSpinColored {
  0% {
    transform: rotate(0deg);
    border-top-color: greenyellow;
    border-bottom-color: greenyellow;
  }
  25% {
    border-top-color: orange;
    border-bottom-color: orange;
  }
  50% {
    border-top-color: red;
    border-bottom-color: red;
  }
  75% {
    border-top-color: yellow;
    border-bottom-color: yellow;
  }
  100% {
    transform: rotate(360deg);
    border-top-color: greenyellow;
    border-bottom-color: greenyellow;
  }
}

@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

html {
  background: #ecf0f1;
}

body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

body,
h1,
h2 {
  font-family: Helvetica, Sans-serif;
  color: #2c3e50;
  margin: 0;
  padding: 0;
  font-weight: 300;
  text-align: center;
}

h1 {
  font-size: 80px;
  margin-bottom: 150px;
}

h2 {
  font-size: 36px;
  opacity: 0;
  margin-top: 150px;
  animation: appear 1s 3s forwards;
}

.container {
  margin: 4em;
  text-align: center;
}

.loader {
  border: 16px solid #bdc3c7;
  width: 120px;
  height: 120px;
  margin-left: auto;
  margin-right: auto;
  border-top-color: #1abc9c;
  border-bottom-color: #3498db;
  border-radius: 50%;
  animation: iconSpinColored 4s infinite linear;
}
