.container {
	width: 1000px;
	margin: 30px auto 0;
	background-color: #ddd;
	display: grid;

	grid-template-rows: repeat(2, minmax(150px, min-content));

	/* auto-fill - automatically creates tracks */
	/* creates equal tracks, regardless of content  */
	grid-template-columns: repeat(auto-fill, 100px);

	/* auto-fit - automatically creates tracks */
	/* collapses the remaining empty tracks */
	grid-template-columns: repeat(auto-fit, 100px);

	/* overwrite width for next example */
	width: 90%;

	/* can use minmax function within auto-fill */
	/* columns number become fluid and change */
	grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));

	/* sets row the height at 150px or higher */
	grid-auto-rows: 150px;
}

.container .item {
	background-color: orangered;
	font-family: sans-serif;
	color: white;
	font-size: 30px;
	padding: 10px;
}

.container .item--1 {
	background-color: orangered;
}

.container .item--2 {
	background-color: yellowgreen;
}
.container .item--3 {
	background-color: blueviolet;
}

.container .item--4 {
	background-color: palevioletred;
}

.container .item--5 {
	background-color: royalblue;
}

.container .item--6 {
	background-color: goldenrod;
}

.container .item--7 {
	background-color: crimson;
}

.container .item--8 {
	background-color: darkslategray;
}
