@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
}

.container {
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.title {
  margin: 10px 0 0;
  text-align: center;
}

img {
  width: 100%;
  max-width: calc(33% - 20px);
  margin-bottom: 30px;
}

@media only screen and (max-width: 769px) {
  img {
    max-width: calc(50% - 20px);
  }
}

@media only screen and (max-width: 450px) {
  img {
    max-width: 100%;
  }
}

.container img {
  object-fit: cover;
}
